<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AgAs - Setting</title>
        <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Braah+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/style.css" />
        <!-- js -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-100">
        <!-- header -->
        <header>
            <nav class="mx-auto max-w-container z-50 fixed top-0 left-0 right-0 text-blue-500 bg-[#2b2f35]">
                <div class="relative flex flex-col justify-between lg:items-center py-2 px-6 md:px-8 lg:px-10 lg:flex lg:flex-row lg:px-[10rem] lg:py-[2.125rem]">
                    <a class="header_title justify-center items-center text-6xl pt-3 lg:text-end lg:text-6xl lg:mr-auto" href="../../index.html">
                        AgAs
                        <p class="hidden lg:block text-sm lg:pt-2">automatically generate advertising script</p>
                    </a>
                    <ul class="navbar__menu hidden inline-block flex-col mt-5 lg:flex lg:flex-row lg:items-center text-3xl">
                        <li class="mt-1 text-center lg:w-[6rem] hover:bg-blue-400 hover:p-1 hover:rounded-lg hover:text-[#fff]">
                            <a class="menu_Try p-1" href="question.html">Try It</a>
                        </li>
                        <li class="mt-3 text-center lg:w-[9rem] lg:mt-1 hover:bg-blue-400 hover:p-1 hover:rounded-lg hover:text-[#fff]">
                            <a class="menu_Try p-1" href="https://github.com/Hyunwooz/OrmiProject">Docs</a>
                        </li>
                    </ul>
                    <button type="button" class="navbar__toggle absolute right-6 top-4 text-blue-500 text-5xl lg:hidden">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
                <div class="progress_bar hidden h-2 bg-blue-500 w-1/5"></div>
            </nav>
        </header>
        <!-- // header -->
        <!-- main -->
        <main class="min-h-screen w-[90%] lg:w-4/6 py-10 mx-auto pt-[7rem] lg:pt-[17rem]">
            <form method="post">
                <section id="question__1">
                    <h2 class="text-2xl block my-10 font-bold text-gray-700">Question 1. 광고의 목표가 무엇인가요?</h2>
                    <div class=" border border-1 rounded border-slate-300 shadow-lg">
                        <fieldset class="campaignGoal">
                            <div class="mb-2 border-b border-gray-300 p-5 text-xl font-bold text-gray-600">목표 선택하기
                                
                            </div>
                            <div class="p-5 grid grid-rows-3 lg:grid-rows-1 grid-flow-col gap-x-[30px] gap-y-5">
                                <div class="relative">
                                    <label for="판매" >
                                        <div class="flex flex-col justify-center items-center border border-1 rounded p-5 pb-9 border-gray-300 h-[250px] hover:border-2 hover:border-blue-400 click:border-blue-400 shadow-md">
                                            <p class="text-xl font-bold mb-4">판매</p>
                                            <i class="fa-solid fa-gift text-4xl mb-4"></i>
                                            <p class="h-[7rem]">온라인, 앱, 전화, 매장을 통한 판매를 촉진합니다.</p>
                                        </div>
                                    </label>
                                    <input class="absolute bottom-3 right-[46%] md:right-[48.3%] lg:right-[46%] w-5 h-5" required type="radio" id="판매" name="campaignGoal" value="판매">
                                </div>
                                <div class="relative">
                                    <label for="잠재_고객_유치" >
                                        <div class="flex flex-col justify-center items-center border border-1 rounded p-5 pb-9 border-gray-300 h-[250px] hover:border-2 hover:border-blue-400 shadow-md">
                                            <p class="text-xl font-bold mb-4">잠재 고객 유치</p>
                                            <i class="fa-solid fa-users text-4xl mb-4"></i>
                                            <p class="h-[7rem]">고객의 액션을 유도하여 리드 및 다른 전환를 늘립니다.</p>
                                        </div>
                                    </label>
                                    <input class="absolute bottom-3 right-[46%] md:right-[48.3%] lg:right-[46%] w-5 h-5" type="radio" id="잠재_고객_유치" name="campaignGoal" value="잠재_고객_유치">
                                </div>
                                <div class="relative">
                                    <label for="웹사이트_트래픽" >
                                        <div class="flex flex-col justify-center items-center border border-1 rounded p-5 pb-9 border-gray-300 h-[250px] hover:border-2 hover:border-blue-400 shadow-md">
                                            <p class="text-xl font-bold mb-4">웹사이트 트래픽</p>
                                            <i class="fa-solid fa-chart-column text-4xl mb-4"></i>
                                            <p class="h-[7rem]">관련성이 높은 사용자가 웹사이트를 방문하도록 유도합니다.</p>
                                        </div>
                                    </label>
                                    <input class="absolute bottom-3 right-[46%] md:right-[48.3%] lg:right-[46%] w-5 h-5" type="radio" id="웹사이트_트래픽" name="campaignGoal" value="웹사이트_트래픽">
                                </div>                         
                            </div>
                        </fieldset>
                    </div>
                </section>
                <section class="hidden" id ="question__2">
                    <h2 class="text-2xl block my-10 font-bold text-gray-700">Question 2. 광고의 유형은 무엇인가요?</h2>
                    <div class=" border border-1 rounded border-slate-300 shadow-lg">
                        <fieldset class="campaignType" required>
                            <div class="mb-2 border-b border-gray-300 p-5 text-xl font-bold text-gray-600 flex justify-between">
                                <p>유형 선택하기</p>
                                </p><a href="#" title="광고의 유형이 궁금하신가요? 눌러보세요!" class="md_open block w-6 h-6 border border-blue-700 flex justify-center items-center rounded-full text-blue-700 font-bold" ><i class="fa-solid fa-question text-sm"></i></a>
                            </div>
                            <div class="p-5 grid grid-rows-3 lg:grid-rows-1 grid-flow-col gap-x-[30px] gap-y-5">
                                <div class="relative">
                                    <label for="검색" >
                                        <div class="flex flex-col justify-center items-center border border-1 rounded p-5 pb-9 border-gray-300 h-[250px] hover:border-2 hover:border-blue-400 shadow-md">
                                            <p class="text-xl font-bold mb-4">검색</p>
                                            <i class="fa-solid fa-magnifying-glass text-4xl mb-4"></i>
                                            <p class="h-[7rem]">검색에서 구매 의도가 높은 고객에게 노출합니다.</p>
                                        </div>
                                    </label>
                                    <input class="absolute bottom-3 right-[46%] md:right-[48.3%] lg:right-[46%] w-5 h-5" required type="radio" id="검색" name="campaignType" value="검색">
                                </div>
                                <div class="relative">
                                    <label for="디스플레이" >
                                        <div class="flex flex-col justify-center items-center border border-1 rounded p-5 pb-9 border-gray-300 h-[250px] hover:border-2 hover:border-blue-400 shadow-md">
                                            <p class="text-xl font-bold mb-4">디스플레이</p>
                                            <i class="fa-solid fa-display text-4xl mb-4"></i>
                                            <p class="h-[7rem]">눈에 잘 띄는 광고 소재로 사이트와 앱을 통해 고객에게 도달합니다.</p>
                                        </div>
                                    </label>
                                    <input class="absolute bottom-3 right-[46%] md:right-[48.3%] lg:right-[46%] w-5 h-5" type="radio" id="디스플레이" name="campaignType" value="디스플레이">
                                </div>
                                <div class="relative">
                                    <label for="동영상" >
                                        <div class="flex flex-col justify-center items-center border border-1 rounded p-5 pb-9 border-gray-300 h-[250px] hover:border-2 hover:border-blue-400 shadow-md">
                                            <p class="text-xl font-bold mb-4">동영상</p>
                                            <i class="fa-brands fa-youtube text-4xl mb-4"></i>
                                            <p class="h-[7rem]">Youtube 시청자에게 도달하여 전환을 늘립니다.</p>
                                        </div>
                                    </label>
                                    <input class="absolute bottom-3 right-[46%] md:right-[48.3%] lg:right-[46%] w-5 h-5" type="radio" id="동영상" name="campaignType" value="동영상">
                                </div>                        
                            </div>
                        </fieldset>
                    </div>
                </section>
                <section class="hidden" id="question__3">
                    <h2 class="text-2xl block my-10 font-bold text-gray-700">Question 3. 광고의 카테고리가 무엇인가요?</h2>
                    <div class=" border border-1 rounded border-slate-300 shadow-lg">
                        <fieldset class="campaignCategory" aria-required="true">
                            <div class="mb-2 border-b border-gray-300 p-5 text-xl font-bold text-gray-600">카테고리 선택하기</div>
                            <div class="p-2  grid grid-rows-6 grid-flow-col gap-y-2 gap-x-1 lg:p-5 lg:gap-x-[80px] lg:gap-y-5">
                                <div>
                                    <label for="인테리어">인테리어
                                    </label>
                                    <input required type="radio" id="인테리어" name="campaignCategory" value="인테리어">
                                </div>
                                <div>
                                    <label for="컴퓨터">컴퓨터
                                    </label>
                                    <input type="radio" id="컴퓨터" name="campaignCategory" value="컴퓨터">
                                </div>
                                <div>
                                    <label for="취미">취미
                                    </label>
                                    <input type="radio" id="취미" name="campaignCategory" value="취미">
                                </div>
                                <div>
                                    <label for="사회">사회
                                    </label>
                                    <input type="radio" id="사회" name="campaignCategory" value="사회">
                                </div>
                                <div>
                                    <label for="교육">교육
                                    </label>
                                    <input type="radio" id="교육" name="campaignCategory" value="교육">
                                </div>
                                <div>
                                    <label for="자동차">자동차
                                    </label>
                                    <input type="radio" id="자동차" name="campaignCategory" value="자동차">
                                </div>
                                <div>
                                    <label for="인터넷">인터넷
                                    </label>
                                    <input type="radio" id="인터넷" name="campaignCategory" value="인터넷">
                                </div>
                                <div>
                                    <label for="예술">예술
                                    </label>
                                    <input type="radio" id="예술" name="campaignCategory" value="예술">
                                </div>
                                <div>
                                    <label for="여행">여행
                                    </label>
                                    <input type="radio" id="여행" name="campaignCategory" value="여행">
                                </div>
                                <div>
                                    <label for="애완동물">애완동물
                                    </label>
                                    <input type="radio" id="애완동물" name="campaignCategory" value="애완동물">
                                </div>
                                <div>
                                    <label for="식음료">식음료
                                    </label>
                                    <input type="radio" id="식음료" name="campaignCategory" value="식음료">
                                </div>
                                <div>
                                    <label for="스포츠">스포츠
                                    </label>
                                    <input type="radio" id="스포츠" name="campaignCategory" value="스포츠">
                                </div>
                                <div>
                                    <label for="비즈니스">비즈니스
                                    </label>
                                    <input type="radio" id="비즈니스" name="campaignCategory" value="비즈니스">
                                </div>
                                <div>
                                    <label for="부동산">부동산
                                    </label>
                                    <input type="radio" id="부동산" name="campaignCategory" value="부동산">
                                </div>
                                <div>
                                    <label for="미용">미용
                                    </label>
                                    <input type="radio" id="미용" name="campaignCategory" value="미용">
                                </div>
                                <div>
                                    <label for="도서">도서
                                    </label>
                                    <input type="radio" id="도서" name="campaignCategory" value="도서">
                                </div>
                                <div>
                                    <label for="뉴스">뉴스
                                    </label>
                                    <input type="radio" id="뉴스" name="campaignCategory" value="뉴스">
                                </div>
                                <div>
                                    <label for="금융">금융
                                    </label>
                                    <input type="radio" id="금융" name="campaignCategory" value="금융">
                                </div>
                                <div>
                                    <label for="과학">과학
                                    </label>
                                    <input type="radio" id="과학" name="campaignCategory" value="과학">
                                </div>
                                <div>
                                    <label for="게임">게임
                                    </label>
                                    <input type="radio" id="게임" name="campaignCategory" value="게임">
                                </div>
                                <div>
                                    <label for="건강">건강
                                    </label>
                                    <input type="radio" id="건강" name="campaignCategory" value="건강">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </section>
                <section class="hidden" id="question__4">
                    <h2 class="text-2xl block my-10 font-bold text-gray-700">Question 4. 세부 키워드(단어)를 입력해주세요.</h2>
                    <div class=" border border-1 rounded border-slate-300 shadow-lg">
                        <fieldset aria-required="true">
                            <div class="mb-2 border-b border-gray-300 p-5 text-xl font-bold text-gray-600">키워드 입력</div>
                            <div class="p-5">
                                <div>
                                    <textarea
                                        type="text"
                                        class="campaignKeyword border border-slate-300 bg-gray-100 rounded-xl w-full py-3 pl-3 resize-none shadow-md"
                                        rows="1"
                                        name="keyword"
                                        required
                                        placeholder="키워드를 AgAs한테 알려주세요! Ex) 제주 자전거 여행"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </section>
                <section class="hidden" id="question__5">
                    <h2 class="text-2xl block my-10 font-bold text-gray-700">Question 5. 광고 타겟팅 설정하기</h2>
                    <div class=" border border-1 rounded border-slate-300 shadow-lg ">
                        <div class="mb-2 border-b border-gray-300 p-5 text-xl font-bold text-gray-600">타겟팅 설정하기</div>
                        <div class="p-5 flex flex-wrap justify-between gap-y-4">
                            <div class="w-2/5">
                                <div class="mb-1 text-xl font-bold text-gray-600">성별</div>
                                <fieldset class="border border-1 border-gray-300 rounded-xl">
                                    <div class="flex p-2 shadow-md">
                                        <select class="targetGender m-1 w-full bg-gray-100" name="성별" id="성별">
                                            <option value="" selected disabled hidden>선택</option>
                                            <option value="남자">남자</option>
                                            <option value="여자">여자</option>
                                            <option value="상관없음">상관없음</option>
                                        </select>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="w-2/5">
                                <div class="mb-1 text-xl font-bold text-gray-600 ">나이</div>
                                <fieldset class="border border-1 border-gray-300 rounded-xl">
                                    <div class="flex p-2 shadow-md">
                                        <select class="targetAge m-1 w-full bg-gray-100" name="연령대" id="연령대">
                                            <option value="" selected disabled hidden>선택</option>
                                            <option value="13세_이하">13세 이하</option>
                                            <option value="14세~17세">14세~17세</option>
                                            <option value="18세~24세">18세~24세</option>
                                            <option value="25세~34세">25세~34세</option>
                                            <option value="35세~44세">35세~44세</option>
                                            <option value="45세~54세">45세~54세</option>
                                            <option value="55세~64세">55세~64세</option>
                                            <option value="65세_이상">65세 이상</option>
                                        </select>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="hidden" id="question__6">
                    <div class="flex justify-center items-center mt-12">
                        <button class="w-1/2 lg:w-1/6 nextStep bg-blue-500 text-white font-bold text-xl py-2 px-6 rounded-xl hover:bg-blue-400">Next</button>
                    </div>
                </section>
            </form>
        </main>
        <!-- // main -->
        <!-- footer -->
        <footer>
            <div class="border-t border-gray-600 flex flex-col lg:flex-row bg-[#2b2f35] text-blue-500 p-6 mt-auto">
                <div class="text-2xl mr-5 pr-10 border-slate-300 lg:border-r">
                    <strong class="text-3xl">Automatically</strong>
                    <p class="text-slate-300 mr-5">generate advertising scripts</p>
                    <p>using <strong class="text-3xl">ChatGPT</strong></p>
                </div>
                <div class="flex justify-center items-center flex-col mt-10 lg:mt-1 lg:ml-10">
                    <strong class="text-xl">Ormi 1기 ChatGPT 연동 프로젝트 입니다 :)</strong>
                    <p class="text-sm pt-5">
                        Copyright 2023. Chilli All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
        <!-- // footer -->
        <!-- modal -->
        <div class="modal hidden w-full h-full fixed top-0 left-0 z-20 flex justify-center items-center bg-black/[.50]">
            <div class="md_wrap w-[90%] h-1/2 md:h-2/3 md:w-2/3 lg:w-1/2 lg:h-[90%] p-8 pt-10 lg:mt-10 bg-white rounded-lg shadow-lg flex flex-col justify-center items-center relative">
                <div class="md_content text-center overflow-auto">
                    <div class="explanation_Search">
                        <p class="text-2xl font-bold">Search AD</p>
                        <p class="mt-5 w-2/3 mx-auto">
                            Google 검색 네트워크에서는 사용자가 지정된 키워드와 관련된 검색어를 사용하여 검색하는 경우 검색결과 근처에 광고가 게재될 수 있습니다. 키워드가 사용자 검색과 관련이 있을 경우 광고가 Google 검색 결과 및 기타 검색 사이트에 게재될 수 있습니다.
                        </p>
                        <img class="mt-5 mx-auto" src="../assets/img/search_sample.png" alt="">
                    </div>
                    <div class="explanation_Display hidden">
                        <p class="text-2xl font-bold">Display AD</p>
                        <p class="mt-5 w-2/3 mx-auto">
                            디스플레이 캠페인은 Google 디스플레이 네트워크에 눈길을 끄는 광고를 게재합니다. 디스플레이 네트워크를 이용하면 수백만 개의 웹사이트와 앱, Google 서비스(YouTube, Gmail 등)를 둘러보는 사용자를 대상으로 광고를 게재할 수 있습니다.
                        </p>
                        <img class="mt-5 mx-auto" src="../assets/img/display_sample.png" alt="">
                    </div>
                    <div class="explanation_Video hidden">
                        <p class="text-2xl font-bold">Video AD</p>
                        <p class="mt-5 w-2/3 mx-auto">
                            동영상 광고를 사용하면 YouTube 동영상과 Google 동영상 파트너에서 운영하는 웹사이트 및 앱에 광고를 게재할 수 있습니다.
                        </p>
                        <img class="mt-5 mx-auto" src="../assets/img/video_sample.png" alt="">
                    </div>
                </div>
                <div class="md_circle flex justify-center items-center mx-auto w-2/3">
                    <div class="show_search bg-blue-400 mt-8 w-3 h-3 flex justify-center items-center rounded-full">
                    </div>
                    <div class="show_display bg-gray-400 mx-5 mt-8 w-3 h-3 flex justify-center items-center rounded-full">
                    </div>
                    <div class="show_video bg-gray-400 mt-8 w-3 h-3 flex justify-center items-center rounded-full">
                    </div>
                </div>
                <button class="md_close absolute top-2 right-2 bg-blue-400 text-white font-bold w-5 h-5 rounded-md text-xs">X</button>
                <button class="md_next absolute right-5 lg:right-10 text-blue-500 font-bold text-2xl md:text-4xl lg:text-5xl"><i class="fa-solid fa-chevron-right"></i></button>
                <button class="md_prev absolute left-5 lg:left-10 text-blue-500 font-bold text-2xl md:text-4xl lg:text-5xl"><i class="fa-solid fa-chevron-left"></i></button>
            </div>
        </div>
        <!-- // modal -->
        <script src="../assets/js/menu.js"></script>
        <script src="../assets/js/question.js"></script>
        <script src="../assets/js/modal.js"></script>
        <script src="../assets/js/slide.js"></script>
    </body>
</html>
