<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AgAs - Service</title>
        <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Braah+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/style.css" />
        <!-- js -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="../assets/js/openAPI.js" defer type="module"></script>
    </head>
    <body class="bg-gray-100">
        <!-- header -->
        <header>
            <nav class="mx-auto max-w-container z-50 fixed top-0 left-0 right-0 text-blue-500 bg-[#2b2f35]">
                <div class="relative flex flex-col justify-between lg:items-center py-2 px-6 md:px-8 lg:px-10 lg:flex lg:flex-row lg:px-[10rem] lg:py-[2.125rem]">
                    <a class="header_title justify-center items-center text-6xl pt-3 lg:text-end lg:text-6xl lg:mr-auto" href="../../index.html">
                        AgAs
                        <p class="hidden lg:block text-sm lg:pt-2">automatically generate advertising script</p>
                    </a>
                    <ul class="navbar__menu hidden inline-block flex-col mt-5 lg:flex lg:flex-row lg:items-center text-3xl">
                        <li class="mt-1 text-center lg:w-[6rem] hover:bg-blue-400 hover:p-1 hover:rounded-lg hover:text-[#fff]">
                            <a class="menu_Try p-1" href="question.html">Try It</a>
                        </li>
                        <li class="mt-3 text-center lg:w-[9rem] lg:mt-1 hover:bg-blue-400 hover:p-1 hover:rounded-lg hover:text-[#fff]">
                            <a class="menu_Try p-1" href="https://github.com/Hyunwooz/OrmiProject">Docs</a>
                        </li>
                    </ul>
                    <button type="button" class="navbar__toggle absolute right-6 top-4 text-blue-500 text-5xl lg:hidden">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </nav>
        </header>
        <!-- // header -->  
        <!-- main --> 
        <main class="min-h-screen w-[90%] lg:w-3/6 py-10 mx-auto pt-[12rem] md:pt-[13rem] lg:pt-[17rem]">
            <section class="lg:w-2/3 mx-auto mb-8">
                <div class="border border-slate-300 rounded-xl shadow-md">
                    <h2 class="my-4 text-center text-3xl font-bold text-blue-600">Check Your Setting</h2>
                    <div class="showSetting p-4"></div>
                    <div class="flex flex-col py-2 px-10 mt-4">
                        <button id="connect" class=" block bg-blue-500 font-bold text-white text-md py-1 px-2 rounded bottom-4 right-3 hover:border-blue-500 hover:bg-blue-400" type="submit">Let's Create !</button>
                        <a id="disconnect" class="text-center mt-1 text-blue-800 text-md py-1 px-2 rounded bottom-4 right-3 cursor-pointer">No, Information is incorrect.</a>
                    </div>
                </div>
            </section>
            <section>
                <div class="answerSection flex flex-col"></div>
            </section>
            <div class="hidden" id="loading">
                <p class="font-bold text-center text-blue-800 mt-2">입력하신 정보를 토대로 광고를 생성 중입니다.</p>
                <p class="font-bold text-center text-blue-800 mb-2">잠시만 기다려주세요 :)</p>
                <div class="spinner"></div>
            </div>
            <form class="hidden" id="addQuestion" action="post">
                <div class="relative mt-3">
                    <input
                        type="text"
                        class="input_question border border-slate-300 rounded-xl w-full py-3 pl-3 pr-[2.5rem] lg:pr-[6rem]"
                        name="addContents"
                        placeholder="추가할 내용을 AgAs한테 알려주세요!"
                    ></input>
                    <button class="block text-slate-600 text-2xl p-1 rounded-xl absolute top-1 right-3" type="submit"><i class="fa-solid fa-paper-plane hover:text-blue-700 hover:text-[1.6rem]"></i></button>
                </div>
            </form>
        </main>
        <!-- // main -->
        <!-- footer -->
        <footer>
            <div class="border-t border-gray-600 flex flex-col lg:flex-row bg-[#2b2f35] text-blue-500 p-6 mt-auto">
                <div class="text-2xl mr-5 pr-10 border-slate-300 lg:border-r">
                    <strong class="text-3xl">Automatically</strong>
                    <p class="text-slate-300 mr-5">generate advertising scripts</p>
                    <p>using <strong class="text-3xl">ChatGPT</strong></p>
                </div>
                <div class="flex justify-center items-center flex-col mt-10 lg:mt-1 lg:ml-10">
                    <strong class="text-xl">Ormi 1기 ChatGPT 연동 프로젝트 입니다 :)</strong>
                    <p class="text-sm pt-5">
                        Copyright 2023. Chilli All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
        <!-- // footer -->
        <script src="../assets/js/menu.js"></script>
        <script src="../assets/js/display.js" type="module"></script>
        <script src="../assets/js/connect.js" type="module"></script>
    </body>
</html>
