<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AgAs - Service</title>
        <!-- js -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="../js/gptApi.js" defer type="module"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../css/style.css" />
    </head>
    <body>
        <!-- header -->
        <!-- prettier-ignore -->
        <header class="relative z-50 w-full flex-none text-sm font-semibold leading-6 text-slate-900 border-b border-gray-300">
            <nav aria-label="Global" class="mx-auto max-w-container px-4 sm:px-6 lg:px-8">
                <div class="relative flex items-center px-[10rem] py-[2.125rem]">
                    <a class="header_title mr-auto text-end justify-center text-blue-500 text-6xl" href="../index.html">
                        AgAs
                        <p class="text-sm pt-2">automatically generate advertising script</p>
                    </a>
                    <div class="hidden lg:flex lg:items-center text-2xl">
                        <a class="ml-8" href="./setting.html">Try It</a>
                        <div class="ml-2 hidden rounded-full bg-violet-600 px-1 py-1 text-xs text-white sm:block text-white">
                            ⭐
                        </div>
                        <a class="ml-8" href="https://github.com/Hyunwooz/OrmiProject">Docs</a>
                    </div>
                </div>
            </nav>
        </header>

        <!-- // header -->
        <!-- prettier-ignore -->
        <main class="min-h-screen w-3/6 py-10 mx-auto">
            <div>
                <div class="border border-slate-300 rounded-xl ">
                    <h2 class="my-4 text-center text-3xl font-bold text-blue-600">Check Your Setting</h2>
                    <div class="showSetting p-4"></div>
                    <div class="flex flex-col py-2 px-3 mt-4">
                        <button id="connect" class=" block bg-blue-500 font-bold text-white text-md py-1 px-2 rounded bottom-4 right-3 hover:border-blue-500 hover:bg-blue-400" type="submit">Let's Create !</button>
                        <a id="disconnect" class="text-center mt-1 text-blue-800 text-md py-1 px-2 rounded bottom-4 right-3 cursor-pointer">No, Information is incorrect.</a>
                    </div>
                </div>
            </div>
            <section>
                <div class="answerSection flex flex-col"></div>
            </section>
            <div id="loading"><div class="spinner"></div></div>
            <form class="hidden" id="addQuestion" action="post">
                <h2 class="text-3xl block my-10 font-bold text-gray-700">추가 내용</h2>
                <div class="relative">
                    <textarea
                        type="text"
                        class="input_question border border-gray-950 rounded-xl w-full py-3 pl-3 pr-[6rem] resize-none"
                        rows="2"
                        name="addContents"
                        placeholder="수정하고 싶거나 추가할 내용을 입력하세요."
                    ></textarea>
                    <button class="block text-3xl p-2 rounded-xl absolute bottom-4 right-3" type="submit"><i class="fa-solid fa-paper-plane hover:text-blue-700 hover:text-4xl"></i></button>
                </div>
            </form>
            
        </main>
        <!-- footer -->
        <!-- prettier-ignore -->
        <footer>
            <div class="flex bg-slate-100 p-6 mt-auto">
                <div class="text-2xl text-blue-600 mr-5 pr-10 border-r border-slate-300">
                    <strong class="text-3xl">Automatically</strong>
                    <p class="text-slate-500 mr-5">generate advertising scripts</p>
                    using <strong class="text-3xl">ChatGPT</strong>
                </div>
                <div class="flex justify-center items-center flex-col ml-10">
                    <strong class="text-xl text-blue-600"
                        >Ormi 1기 ChatGPT 연동 프로젝트 입니다 :)</strong
                    >
                    <p class="text-sm text-blue-600 pt-5">
                        Copyright 2023. Chilli All rights reserved.
                    </p>
                </div>
                <div class="ml-auto w-1/5 flex justify-center items-center">
                    <a href="https://github.com/Hyunwooz/OrmiProject" class="flex justify-center items-center rounded-xl font-bold bg-blue-400 w-2/4 text-white h-[40px]">GitHub Repo</a>
                </div>
            </div>
        </footer>
        <!-- //footer -->
        <script src="../js/showSetting.js"></script>
    </body>
</html>
