<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AgAs - Service</title>
        <!-- js -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="../js/chatGPT_Api.js" defer type="module"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Braah+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css" />
    </head>
    <body class="bg-gray-100">
        <!-- header -->
        <header class="relative z-50 w-full flex-none leading-6 ">
            <nav aria-label="Global" class="mx-auto max-w-container px-4 sm:px-6 lg:px-8 fixed top-0 left-0 right-0 text-blue-500 bg-[#2b2f35]">
                <div class="relative flex items-center px-[10rem] py-[2.125rem]">
                    <a class="header_title mr-auto text-end justify-center text-6xl" href="../index.html">
                        AgAs
                        <p class="text-sm pt-2">automatically generate advertising script</p>
                    </a>
                    <div class="lg:flex lg:items-center text-3xl">
                        <a class="menu_Try ml-8 p-1 hover:bg-gray-200 hover:p-1 hover:rounded-lg hover:text-[#2b2f35]" href="question.html">Try It</a>
                        <a class="menu_Try ml-8 p-1 hover:bg-gray-200 hover:p-1 hover:rounded-lg hover:text-[#2b2f35]" href="#">Contact</a>
                    </div>
                </div>
            </nav>
        </header>
        <!-- // header -->
        <main class="min-h-screen w-3/6 py-10 mx-auto pt-[15rem]">
            <section class="w-2/3 mx-auto">
                <div class="border border-slate-300 rounded-xl shadow-md">
                    <h2 class="my-4 text-center text-3xl font-bold text-blue-600">Check Your Setting</h2>
                    <div class="showSetting p-4"></div>
                    <div class="flex flex-col py-2 px-10 mt-4">
                        <button id="connect" class=" block bg-blue-500 font-bold text-white text-md py-1 px-2 rounded bottom-4 right-3 hover:border-blue-500 hover:bg-blue-400" type="submit">Let's Create !</button>
                        <a id="disconnect" class="text-center mt-1 text-blue-800 text-md py-1 px-2 rounded bottom-4 right-3 cursor-pointer">No, Information is incorrect.</a>
                    </div>
                </div>
            </section>
            <section>
                <div class="answerSection flex flex-col"></div>
            </section>
            <div class="hidden" id="loading">
                <p class="font-bold text-center text-blue-800 mt-2">입력하신 정보를 토대로 광고를 생성 중입니다.</p>
                <p class="font-bold text-center text-blue-800 mb-2">잠시만 기다려주세요 :)</p>
                <div class="spinner"></div>
            </div>
            <form class="hidden" id="addQuestion" action="post">
                <div class="relative mt-3">
                    <input
                        type="text"
                        class="input_question border border-slate-300 rounded-xl w-full py-3 pl-3 pr-[6rem]"
                        name="addContents"
                        placeholder="수정하고 싶거나 추가할 내용을 AgAs한테 알려주세요!"
                    ></input>
                    <button class="block text-slate-600 text-2xl p-1 rounded-xl absolute top-1 right-3" type="submit"><i class="fa-solid fa-paper-plane hover:text-blue-700 hover:text-[1.6rem]"></i></button>
                </div>
            </form>
            
        </main>
        <!-- footer -->
        <footer>
            <div class="flex bg-[#2b2f35] text-blue-500 p-6 mt-auto">
                <div class="text-2xl mr-5 pr-10 border-r border-slate-300">
                    <strong class="text-3xl">Automatically</strong>
                    <p class="text-slate-300 mr-5">generate advertising scripts</p>
                    using <strong class="text-3xl">ChatGPT</strong>
                </div>
                <div class="flex justify-center items-center flex-col ml-10">
                    <strong class="text-xl"
                        >Ormi 1기 ChatGPT 연동 프로젝트 입니다 :)</strong
                    >
                    <p class="text-sm pt-5">
                        Copyright 2023. Chilli All rights reserved.
                    </p>
                </div>
                <div class="ml-auto w-1/5 flex justify-center items-center">
                    <a href="https://github.com/Hyunwooz/OrmiProject" class="flex justify-center items-center rounded-xl font-bold bg-blue-500 w-2/4 text-[#fff] h-[40px]">GitHub Repo</a>
                </div>
            </div>
        </footer>
        <!-- //footer -->
        <script src="../js/display.js"></script>
    </body>
</html>
